body{
    display:grid;
    grid-template-rows: repeat(10, 100px);
}

#startButton{
    display:flex;
}

#startButton input{
    text-align: center;
    color:red;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:100px;
}

#questionOne{
    display:none;
    flex-direction: column;
}

#questionTwo{
    display:none;
    flex-direction: column;
}

#questionThree{
    display:none;
    flex-direction: column;
}

#questionFour{
    display:none;
    flex-direction: column;
}

#questionFive{
    display:none;
    flex-direction: column;
}

#results{
    display:none;
}